h1 {
    border-style: solid;
    padding: 6px;
    color: #fff;
    font-size: 25px;
    font-family: Trebuchet MS, sans-serif;
    width: 800px;
    text-align: center;
    margin: auto;
    background-color: #CC7178;
    border-color: #89023E;
    font-weight: 500;
}
h2 {
  background: #406317;
  padding: 6px;
  margin: 20px;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
}
body {
  background-color: #FFD9DA;
}
.center {
    margin-left:auto; 
    margin-right:auto;
}
div {
  background: #fff;
  color: #000;
  padding: 25px;
  width: 800px;
  text-align: center;
  border-style: solid;
}
