body {
  background-image: url(https://github.com/lunallesc/lunallesc.github.io/blob/main/bg_paper01_green.png?raw=true);
  background-repeat: repeat;
}
div {
    margin: -5px -5px 10px -5px;
    padding: 5px 6px;
    background-color: #406317;
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 10px;
}
